<h1>WELCOME TO MY JUNGLE</h1>

<% if logged_in? %>


<p>Pour acceder a la fameuse page secrete, clique sur le menu en haut a droite</p>


<% else %>

<h5>Pour accéder à toutes les fonctionnalités du site, veuillez vous connecter ou vous inscrire.</h5>

<br>
<%= link_to "Log in", login_path, class:"btn btn-primary" %> or <%= link_to "Sign up", new_user_path, class:"btn btn-primary" %>
<% end %>
