<% if logged_in? %>
<img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Junction_42.svg"
alt="Cheetah!" />

<% else %>
<h1>Vous devez être connecté pour acceder à cette page</h1>
<%= link_to "CONNECTE TOI OU INSCRIT TOI POUR Y ACCEDER !", login_path, class:"btn btn-danger" %>
<% end %>
